body {
    background-color: white;
    margin: 0%;
    padding: 0%;
    font-family: cursive; 
}
p {
   font-size: large;
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(214, 201, 242);
}
header {
    background-color: rgb(207, 242, 201);
    max-width: 100%;
}
ul {
    display: flex;
    list-style: none;
    margin-right: 40%;
}
ul li {
    list-style-type: none;
    margin-right: 18%;
    font-weight: bolder;
}
a {
    color: rgb(214, 201, 242);
}
header img {
     width: 50%;
     margin-left: 25%;
}
main img{
    margin-left: 25%;
    width: 55%;
}
p {
    margin-left: 2%;
    color: rgb(214, 201, 242);;
}
h2 {
    margin-left: 2%;
    color: rgb(214, 201, 242);
}
footer {
    background-color: rgb(207, 242, 201) ;
    margin: 0%;
    padding: 10%;
}
footer a{
    display: flex;
    justify-content: center;
}
div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
div img {
    width: 20%;
    margin: 1%;
}
.vintage {
    display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}
img{
    width: 50%;
    display: flex;

}